@import './material-icons'
@import '~vuetify/src/stylus/main'

@css {
  .star{
    height:20px;
    width:100px;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAQAAADYBBcfAAAA70lEQVR4AdXUIQjCQBTGcYNgMAt2BGGdZbHY28BeLKvaBIPJYLHYMf/tbX2w9V62OgZj2wljjKHP3W5FvK/cHe8Hd+/gRmpgfgalwVHa1UKWlCyHwAuKizFkQowiZmIKt6gqW1Po1dAzglioJlYnZIbFGgeXM3fCFgy5c8bFYY3F7B2eUL1y+jgqrp7hinfEIetAGc7X5rAhkRkJm86uYhMJLMLWPgc7Ae56vCM3Ad76QF+AvhYyJW/Ky2aWM9XBVV1acGXOlaJer3TwUJUF2E2Xg2rnoINPUvaMW3cesyflqYMPFsJvsOAhQ/P8E3wB75uY7oxINXcAAAAASUVORK5CYII=);
    background-size:contain;
    background-repeat :repeat-x;
  }
  .current-star{
    height:20px;
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAQAAADYBBcfAAAA60lEQVR4AdXTIQjCQBTGcYNgMAt2BGGdZbHY28BeLAv/ok0wmAwWix37elsfbL2XrY7B2HbCGGPobW9bUr5yd7wf3L3HTdTI/BTkPAqypmA9Bt5Q3AZDZkQoImZD4R5VZj8UuhV0B0EMVB2jE7LAYIuFzZUnQQMGPLliY7HFYPEJL6heuXxdFVtm2No3YpF2oBSrtTnsiFtYzK6zq5iEGhZiiuPgoIGHHnPkoYGPPtDTQE+EzMnq8qJeZcwluKlKc+4suZNX+40ET2WZj1l32S9PThJ0SDgybZxMOZLgSPDFSvNbVrwEKOcP4Rt15kTMQuVR7QAAAABJRU5ErkJggg==);
    background-size:contain;
    background-repeat :repeat-x;
  }
}

.series-wrapper
    box-sizing border-box
    margin 0 20px

    .item
        height 310px
        margin 10px 0
        width 100%

        .card
            background-color #fff
        
        .card__media
            background-position center center
            background-size contain
            background-repeat no-repeat

        .series-type
            text-align left
            color #616161

        .series-year
            text-align left
            color #616161

        .series-title
            color #212121
            font-size 16px
            line-height 18px
            max-height 36px
            min-height 18px
            overflow hidden
            position relative
            white-space nowrap
            text-align left

        .paragraph-end
            position absolute
            right 0
            height: 19px
            width: 45px
            background-image -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1))
            background linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,1))

        .details
            box-sizing border-box
            overflow hidden
            padding 7px 7px 0
        
        .rate
            position absolute
            bottom 0
            padding 0 7px 7px